* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  body {
    background: url(../img/bankbg1.jpg) no-repeat center center;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  header {
    background-color: #0047ab;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;

  }

  header p {
    color: white;
    font-size: 14px;
  }

  footer {
    background-color: #0047ab;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }

  footer p {
    font-size: 14px;
  }

  .container {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
  }

  h1 {
    text-align: center;
    color: #0047ab;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0047ab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #003580;
  }

  .switch-link {
    text-align: center;
    margin-top: 15px;
  }

  .switch-link a {
    text-decoration: none;
    color: #0047ab;
    font-size: 14px;
  }

  .switch-link a:hover {
    text-decoration: underline;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }