@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;
}

body {
  background: url(../img/bankbg1.jpg) no-repeat center center;
  background-size: cover;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-logo {
  height: 120px;
}

.INFO {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -20px;
  margin-bottom: -20px;
}

.INFO h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.INFO p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.buttons .btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
}

.buttons .btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

footer p {
  font-size: 14px;
  color: rgb(0, 0, 0);
}